In [1]:
import pandas as pd
import pickle

In [20]:
dfGsdSnd = pickle.load(open('GSDSND_pandasDF.p','rb'))

In [26]:
dfGSDSNR1 = pd.read_excel('../../SNR/PACE_SNR/03.28.2016  GSD v SNR Results for Science Evaluation.xlsx',
                         sheetname=1,index_col=0)

In [34]:
dfGSDSNR1.drop(['Legend','Unnamed: 11'],axis=1,inplace=True)

In [31]:
dfGSDSNR2 = pd.read_excel('../../SNR/PACE_SNR/04.11.2016 Additional GSD v SNR Results_ID8 ID9.xlsx',
                         sheetname=1,index_col=0)

In [32]:
dfGSDSNR2.head()

,Ltyp W/(m2 mm sr),Lmax W/(m2 μm sr),ID 8 SNR 1050m TDI:16 A: 0.09,ID 9 SNR 1000m TDI:20 A: 0.12
l (nm),,,,
350,74.6,356,1414.529507,1541.234477
360,72.2,376,1534.517728,1679.988845
385,61.1,381,1756.537433,1939.171688
412,78.6,602,2562.995721,2902.011068
425,69.5,585,2403.282981,2709.114445

In [35]:
dfGSDSNR1.head()

,BW (nm),Requirement,Requirements with 20% Margin Margin,ID 1 (Baseline) 1000 km TDI:16 Aperture: 0.9,ID 2 750 km TDI:24 Aperture: 0.9,ID 3 750 km TDI:24 Aperture: 0.11,ID 4 1000 km TDI:20 Aperture: 0.9,ID 5 1000 km TDI:20 Aperture: 0.11,ID 6 1250 km TDI:6 Aperture: 0.09,ID 7 1250 km TDI:16 Aperture: 0.09
l,,,,,,,,,,
350,15,300,360,1278.755498,909.781056,1094.505850,1360.518812,1491.571229,1543.702143,1795.162728
360,15,1000,1200,1381.347867,981.086454,1189.252725,1473.270615,1622.658191,1681.418410,1948.919801
385,15,1000,1200,1569.818945,1111.746489,1365.096756,1681.235016,1866.528391,1938.258745,2233.825271
412,15,1000,1200,2243.816457,1576.589636,2008.275703,2431.291984,2763.573202,2888.710190,3272.044910
425,15,1000,1200,2111.332319,1485.432249,1880.454684,2283.264378,2584.784646,2698.683475,3066.103227

In [42]:
a1=list(dfGSDSNR1.columns)
b=['BW','Req','Req*1.2','Baseline','ID2','ID3','ID4','ID5','ID6','ID7']
dfGSDSNR1.rename(columns=dict(zip(a1,b)),inplace=True)

In [43]:
dfGSDSNR1.head()

,BW,Req,Req*1.2,Baseline,ID2,ID3,ID4,ID5,ID6,ID7
l,,,,,,,,,,
350,15,300,360,1278.755498,909.781056,1094.505850,1360.518812,1491.571229,1543.702143,1795.162728
360,15,1000,1200,1381.347867,981.086454,1189.252725,1473.270615,1622.658191,1681.418410,1948.919801
385,15,1000,1200,1569.818945,1111.746489,1365.096756,1681.235016,1866.528391,1938.258745,2233.825271
412,15,1000,1200,2243.816457,1576.589636,2008.275703,2431.291984,2763.573202,2888.710190,3272.044910
425,15,1000,1200,2111.332319,1485.432249,1880.454684,2283.264378,2584.784646,2698.683475,3066.103227

In [44]:
dfGSDSNR1['ID8'] = dfGSDSNR2['ID 8\nSNR\n1050m TDI:16 \nA: 0.09']
dfGSDSNR1['ID9'] = dfGSDSNR2['ID 9\nSNR \n1000m\nTDI:20 \nA: 0.12']
dfGSDSNR1['Ltyp'] = dfGSDSNR2['Ltyp \nW/(m2  mm sr)']/10
dfGSDSNR1['Lmax'] = dfGSDSNR2['Lmax\nW/(m2  μm sr)']/10

In [45]:
b=['BW','Ltyp','Lmax','Req','Req*1.2','Baseline','ID2','ID3','ID4','ID5','ID6','ID7','ID8','ID9']
dfGSDSNR=dfGSDSNR1[b]
dfGSDSNR.head()

,BW,Ltyp,Lmax,Req,Req*1.2,Baseline,ID2,ID3,ID4,ID5,ID6,ID7,ID8,ID9
l,,,,,,,,,,,,,,
350,15,7.46,35.6,300,360,1278.755498,909.781056,1094.505850,1360.518812,1491.571229,1543.702143,1795.162728,1414.529507,1541.234477
360,15,7.22,37.6,1000,1200,1381.347867,981.086454,1189.252725,1473.270615,1622.658191,1681.418410,1948.919801,1534.517728,1679.988845
385,15,6.11,38.1,1000,1200,1569.818945,1111.746489,1365.096756,1681.235016,1866.528391,1938.258745,2233.825271,1756.537433,1939.171688
412,15,7.86,60.2,1000,1200,2243.816457,1576.589636,2008.275703,2431.291984,2763.573202,2888.710190,3272.044910,2562.995721,2902.011068
425,15,6.95,58.5,1000,1200,2111.332319,1485.432249,1880.454684,2283.264378,2584.784646,2698.683475,3066.103227,2403.282981,2709.114445

In [46]:
pickle.dump(dfGSDSNR,open("GSDSND_pandasDF.p","wb"))